---
import Layout from "../layouts/Layout.astro";
import InputText from "@/components/InputText.astro";
import NavButtons from "@/components/NavButtons.astro";

// const API_URL = import.meta.env.PUBLIC_API_URL;

// You need to use this for the <nav>
// console.log(Astro.url.pathname == Astro.url.pathname);
// console.log(Astro.url.pathname);
---

<Layout title="Agregar un nuevo restaurante">
  <div
    class="max-w-screen min-h-screen bg-gradient-to-br from-primary via-primary-light to-theme-yellow flex flex-col items-center"
  >
    <h1 class="pt-2 text-6xl text-white font-black">Agregar un Restaurante</h1>

    <!-- <nav class="py-7 text-4xl flex gap-10 text-white font-medium"> -->
    <!-- <nav class="py-7 text-xl flex gap-7 text-white font-medium">
      <a
        class="bg-theme-violet-a/5 rounded-2xl border border-theme-violet-a/30 py-1 px-2 hover:scale-125 hover:bg-white/10 transition"
        href="/"
      >
        Inicio
      </a>
      <a
        class="bg-theme-violet-a/5 rounded-2xl border border-theme-violet-a/30 py-1 px-2 hover:scale-125 hover:bg-white/10 transition"
        href="/list">Lista</a
      >
    </nav> -->

    <NavButtons />

    <main class="pb-10">
      <form
        id="restaurantForm"
        class="max-w-3xl min-h-[500px] bg-white shadow-theme-b shadow-2xl rounded-2xl flex flex-col bg-gradient-to-t from-theme-b to-primary"
      >
        <!-- onsubmit="submitForm(event)" -->
        <!-- method="post"
        action=`${API_URL}/restaurant` -->
        <h3 class="text-3xl py-2 self-center font-semibold text-gray-200">
          Ingrese los datos
        </h3>

        <!-- <p class="pt-6 pl-6"> -->
        <!-- <label class="relative block"> -->
        <!-- <input 
              type="text" 
              name="name" 
              required
              class="px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:shadow-md focus:shadow-theme-green-a transition-shadow duration-300" 
            /> -->
        <!-- </p> -->
        <section class="flex flex-wrap justify-evenly">
          <InputText label="Nombre" name="name" />
          <InputText label="Dirección" name="address" />
          <InputText label="Código Postal" name="postalCode" />
          <InputText label="Sitio web" name="website" />
          <InputText label="Ciudad" name="city" />
          <InputText label="País" name="country" />
          <InputText label="Palabras claves" name="keys" />
          <InputText label="Provincia" name="province" />
          <InputText label="Latitud" name="latitude" />
          <InputText label="Longitud" name="longitude" />
        </section>
        <p class="py-8 self-center">
          <input
            class="bg-theme-green-a w-64 h-12 rounded-lg font-bold text-xl text-white hover:cursor-pointer"
            type="button"
            value="Guardar"
            id="submitButton"
          />
        </p>
        <!-- <button>Presióname</button> -->
      </form>
    </main>
    <div
      id="errorMessages"
      class="text-red-500 font-semibold shadow-theme-red shadow-2xl"
    >
    </div>
  </div>
</Layout>

<script>
  const API_URL = import.meta.env.PUBLIC_API_URL;

  // Find the form by its ID
  // const form = document.getElementById("submitButton");

  // Attach the event listener
  document
    .getElementById("submitButton")
    ?.addEventListener("click", async () => {
      // event.preventDefault; // Prevent the default form submisions behavior

      const form = document.getElementById("restaurantForm") as HTMLFormElement;
      // Gather form data
      const formData = new FormData(form);
      const data = Object.fromEntries(formData.entries()); // Convert formData to a JSON Object

      // Send data to the API
      try {
        const response = await fetch(`${API_URL}/restaurant`, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(data),
        });

        if (response.ok) {
          const location = response.headers.get("Location");
          alert(`¡Restaurante agregado con éxito!\nDetalles en: ${location}`);
          console.log(location);
          form?.reset();
          window.location.href = "/list";
        } else if (response.status == 400) {
          const message = await response.json();
          let info = `<ul class="mt-0.5 pb-7 px-2 bg-gray-50 rounded-lg">`;

          // Object.keys(message).forEach((key) => {
          //   const m = message[key];
          //   info += `${key}: ${m}\n`;
          // });
          Object.entries(message).forEach(([key, value]) => {
            // for (const key in message) {
            info += `<li><strong>${key}</strong>: ${value}</li>`;
          });
          // alert(info);
          info += `</ul>`;

          // Display the errors
          const errorMessages = document.getElementById("errorMessages");
          if (errorMessages) {
            errorMessages.innerHTML = info;
            // Scroll to the errors section
            errorMessages.scrollIntoView({ behavior: "smooth" });
            const firstInvalidField = Object.keys(message)[0];
            document
              .querySelector<HTMLElement>(`[name="${firstInvalidField}"]`)
              ?.focus();
          }
        } else {
          try {
            const error = await response.json();
            console.log(`Detailed error: ${error}`);
            alert(
              `Algo salió mal: ${error.message || "Error al enviar los datos"}`
            );
          } catch (err) {
            console.error(`Unexpected error: ${err}`);
            alert("Un error inesperado ocurrió al procesar su solicitud");
          }
        }
      } catch (err) {
        console.error(`Error al enviar la solicitud: ${err}`);
        alert("Error al conectar con el servidor");
      }
    });
</script>

<!-- <script>
  const btn = document.querySelector("button");
  btn?.addEventListener("click", () => {
    btn.textContent = "¡¡Me hiciste clic!! <3";
    btn.style.backgroundColor = "#0E01FF";
    setTimeout(() => {
      btn.textContent = "Presióname";
      btn.style.backgroundColor = "initial";
    }, 2000);
  });
</script> -->
