---
import { type Restaurant } from "@/lib/data";
import Layout from "../layouts/Layout.astro";
import "../styles/list-table.css";
import "../styles/global.css";
import NavButtons from "@/components/NavButtons.astro";

const API_URL = import.meta.env.PUBLIC_API_URL;

interface Props {
  restaurants: Restaurant[];
}

const { restaurants } = Astro.props;

//
const fetchRestaurants = async () => {
  // const response = await fetch("/api/restaurants");
  // const response = await fetch("http://localhost:8080/api/restaurant");
  const response = await fetch(API_URL + "/restaurant");
  const restaurants = await response.json();
  // const restaurants = get();

  return restaurants;
};

const res = await fetchRestaurants();
---

<!-- <head>
  <meta charset="UTF-8" />
</head> -->
<Layout title="Lista de Restaurantes">
  <div
    class="bg-gradient-to-bl from-theme-blue via-theme-green-a to-theme-yellow min-h-screen flex flex-col items-center"
  >
    <h1 class="pt-2 text-6xl text-white font-black">Lista de Restaurantes</h1>

    <!-- <nav class="py-5 text-4xl flex gap-10 text-white font-medium">
      <a href="/">Inicio</a>
      <a href="">Lista</a>
    </nav> -->

    <NavButtons />

    <main class="w-full max-w-5xl pb-10" transition:name={`list`}>
      <div
        class="custom-scrollbar overflow-x-scroll max-h-[600px] border-2 border-primary-light rounded-lg"
      >
        <!-- <table class="table-auto text-left min-w-full divide-y divide-gray-500/20"> -->
        <table
          class="table-auto text-left min-w-4xl divide-y divide-primary bg-primary-light"
        >
          <thead>
            <!-- <tr class="text-zinc-400 text-sm"> -->
            <tr class="text-base">
              <th class="px-4 py-2 left-0 sticky bg-primary">#</th>
              <th class="px-4 py-2">Nombre</th>
              <th class="px-4 py-2">Dirección</th>
              <th class="px-4 py-2">Código Postal</th>
              <th class="px-4 py-2">Web</th>
              <th class="px-4 py-2">Ciudad</th>
              <th class="px-4 py-2">País</th>
              <th class="px-4 py-2">Nombres claves</th>
              <th class="px-4 py-2">Provincia</th>
              <th class="px-4 py-2">Latitud</th>
              <th class="px-4 py-2">Longitud</th>
            </tr>
          </thead>

          <tbody>
            <tr class="h-[16px]"><td class="bg-primary sticky left-0"></td></tr>
            {
              res?.map((r: Restaurant, index: number) => (
                // <tr class="border-spacing-0 text-gray-300 text-sm font-light hover:bg-white/10 overflow-hidden transition duration-300">
                <tr class="border-spacing-0 text-sm font-light hover:bg-white/30 overflow-hidden transition duration-300">
                  {/* <td class="px-4 py-2 rounded-tl-lg rounded-bl-lg w-5 sticky left-0 bg-theme-green/95"> */}
                  <td class="px-4 py-2 w-5 sticky left-0 bg-primary">
                    {index + 1}
                  </td>
                  <td class="px-4 py-2">{r.name}</td>
                  <td class="px-4 py-2">{r.address}</td>
                  <td class="px-4 py-2">{r.postalCode}</td>
                  <td class="px-4 py-2">{r.website}</td>
                  <td class="px-4 py-2">{r.city}</td>
                  <td class="px-4 py-2">{r.country}</td>
                  <td class="px-4 py-2">{r.keys}</td>
                  <td class="px-4 py-2">{r.province}</td>
                  <td class="px-4 py-2">{r.latitude}</td>
                  <td class="px-4 py-2 rounded-tr-lg rounded-br-lg">
                    {r.longitude}
                  </td>
                </tr>
              ))
            }
          </tbody>
        </table>
      </div>
    </main>
  </div>
</Layout>
